.navbar {

    width: 100%;
}

#menu{
    justify-content: end;
    font-family:arial ;
}

#Nombre {
    color: black;
    
}

#Nombre:hover {
    color: adb5bd;
}

#páginas {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: x-large;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240, 240, 240)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

footer {
    bottom: 0;
    width: 100%;
}

#colum {
    width: 100%;
    margin: 0%;
    background-color: black;
}

#información{
    background-color: #729D39;
    width: 80%;
    margin: 50px auto 40px;
    position: relative;
    text-align: center;
    align-items: center;
    color: #fff;
    border-radius:2px;

}
#titulo{
    margin-top: 20px;
    margin-bottom: 20px;
}

#texto{
    margin-bottom: 10px;
}

#Contactenos{
    background-color: #729D39;
    border-color: white;
    color: black;
    border: 2px solid;
    margin-bottom: 50px;
    
}
.Botoncontacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}




