/* body, .modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    transition: all 500ms  ease;
    opacity: 0;
    visibility: hidden;
}

.contenedor{
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: #fff;
    box-shadow: 1px 7px 25px;
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

.contenedor header{
    padding: 10px;
    background-color: olive;
    color: #fff;
}

#boton:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

.contenedor label{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
}
#btn-modal{
    display: none;
}

.lbl-modal{
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}

#btn-modal:checked ~ .modal .contenedor{
    transform: translateY(0%);
} */


body{
    background-color: #e0ccc5;
}

.modal-contenido{
    background-color: #fff;
    width:600px;
    height: 300px;
    margin: 20% auto;
    position: relative;
    border-radius: 8px;
    bottom: 80px;
}

.modal-contenido header{
    padding: 10px;
    background-color: burlywood;
    color: brown;
    border-radius: 8px 8px 0 0;
}

.modal-contenido a{
    position: absolute;
    top: 10px;
    right: 10px;
    color: brown;
    font-size: 15px;
}
.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

#miModal:target{
    opacity:1;
    pointer-events:auto;
}

img{
    position: absolute;
    bottom: 120px;
    left: 300px;
    width: 150px;
    height: 100px;
}


